@font-face {
  font-family: "Fun Games";
  src: url("/font/Fun-Games.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

svg text {
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  font-family: "Fun Games", sans-serif;
  font-weight: 800;
  font-size: 69px;
  fill: #552204;
  stroke-width: 2px;
  stroke: #f7ae15;
  stroke-linejoin: round;
  stroke-dasharray: 1;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  100% {
    stroke-dashoffset: 5;
  }
}

body {
  background-color: #000;
  color: #552204;
  /* min-height: 100vh;
  width: 100vw; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

h2 {
  text-align: center;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin-left: 20%;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: #7c7774;
  stroke: #552204;
  stroke-width: 15px;
  stroke-linecap: round;
  /* margin-left: 20%; */
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #552204;
  display: inline-flex;
  color: #f7ae15;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: -20px 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(255, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #f7ae15;
  border-radius: 8px;
  /* box-shadow: 0 15px 10px 3px rgba(0, 0, 255, 0.1); */
  /* box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3); */
  box-shadow: inset 6px 6px 6px #e7ae32, inset -6px -6px 6px #a07008;
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #f7ae15;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.95);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(156, 156, 156, 0.3),
    inset 0 15px 15px rgba(214, 214, 214, 0.3);
  border-radius: 10px;
  padding: 15px 20px;
  position: absolute;
  top: 100%;
  left: 39%;
  transition: transform 0.3s ease-in-out;
}

.notification-container.show {
  transform: translateY(-120%);
}

p {
  /* font-family: "Fun Games", sans-serif; */
  font-size: 20px;
}

.word {
  margin-left: -100px;
  margin-bottom: -20px;
}
